.git/
.gitignore
docker-compose.override.yml
.env
.phpunit.result.cache
storage/*.key
vendor/
node_modules/
public/storage
storage/debugbar/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
tests/
.idea/
*.sqlite
*.log
.DS_Store
Thumbs.db